@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkgray: hsl(0, 0%, 55%);
  --verydarkgray: hsl(0, 0%, 41%);
}

body {
  p {
    font-size: 15px;
  }
}

.hero {
  background-image: url("images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4rem 10rem;
  &__slogan {
    margin-top: 7rem;
    margin-bottom: 4rem;
    padding: 2rem 2.5rem;
    border: 2px solid var(--white);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    line-height: 1;
    width: 650px;
    color: var(--white);
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    &__logo {
      height: 34px;
    }
    &__links {
      display: flex;
      list-style-type: none;
      a {
        text-decoration: none;
      }
      &__link {
        color: var(--white);
        margin-right: 2rem;
        font-family: 'Alata', sans-serif;
      }
    }
  }
}

.container {
  padding: 10rem;
}

.vr {
  position: relative;
  &__bg {
    background-image: url("images/desktop/image-interactive.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 70%;
  }
  &__content {
    padding: 6rem 0 0 6rem;
    width: 45%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: var(--white);
    &__title {
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      font-size: 45px;
      line-height: 1.1;
      color: var(--black);
      font-weight: normal;
    }
    &__description {
      margin-top: 2rem;
      line-height: 1.6;
      color: var(--verydarkgray);
      font-family: "Josefin Sans", sans-serif;
      font-weight: bold;
    }
  }
}

.creations {
  margin: 10rem 0;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    &__btn {
      padding: .5rem 2rem;
      background-color: var(--black);
      text-decoration: none;
      color: var(--white);
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      font-weight: bold;
      letter-spacing: 4px;
      vertical-align: baseline;
      display: inline-block;
    }
  }
}