@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkgray: hsl(0, 0%, 55%);
  --verydarkgray: hsl(0, 0%, 41%);
}

body p {
  font-size: 15px;
}

.hero {
  background-image: url("images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4rem 10rem;
}
.hero__slogan {
  margin-top: 7rem;
  margin-bottom: 4rem;
  padding: 2rem 2.5rem;
  border: 2px solid var(--white);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  line-height: 1;
  width: 650px;
  color: var(--white);
}
.hero__menu {
  display: flex;
  justify-content: space-between;
}
.hero__menu__logo {
  height: 34px;
}
.hero__menu__links {
  display: flex;
  list-style-type: none;
}
.hero__menu__links a {
  text-decoration: none;
}
.hero__menu__links__link {
  color: var(--white);
  margin-left: 2rem;
  font-family: "Alata", sans-serif;
  position: relative;
}
.hero__menu__links__link::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 0px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--white);
}
.hero__menu__links__link:hover::after {
  height: 2px;
}

.container {
  padding: 10rem 10rem 0 10rem;
}

.vr {
  position: relative;
}
.vr__bg {
  background-image: url("images/desktop/image-interactive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 70%;
}
.vr__content {
  padding: 6rem 0 0 6rem;
  width: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: var(--white);
}
.vr__content__title {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.1;
  color: var(--black);
  font-weight: normal;
}
.vr__content__description {
  margin-top: 2rem;
  line-height: 1.6;
  color: var(--verydarkgray);
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.creations {
  margin: 10rem 0;
}
.creations__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.creations__top__btn {
  padding: 0.7rem 2rem;
  background-color: var(--white);
  border: 2px solid var(--black);
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  vertical-align: baseline;
  display: inline-block;
}
.creations__top__btn:hover {
  background-color: var(--black);
  color: var(--white);
}
.creations__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.creations__container__title {
  position: absolute;
  color: var(--white);
  bottom: 2rem;
  left: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  z-index: 3;
}
.creations__container__blackbg {
  z-index: 2;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  opacity: 0.5;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.creations__container__blackbg:hover {
  background-image: none;
  background-color: var(--white);
  opacity: 0.7;
}
.creations__container__earth {
  background-image: url("images/desktop/image-deep-earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23%;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.creations__container__earth:hover h1 {
  color: var(--black);
}
.creations__container__night {
  background-image: url("images/desktop/image-night-arcade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23%;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.creations__container__night:hover h1 {
  color: var(--black);
}
.creations__container__soccer {
  background-image: url("images/desktop/image-soccer-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23%;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.creations__container__soccer:hover h1 {
  color: var(--black);
}
.creations__container__grid {
  background-image: url("images/desktop/image-grid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23%;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.creations__container__grid:hover h1 {
  color: var(--black);
}
.creations__container__vr {
  background-image: url("images/desktop/image-from-above.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23%;
  height: 500px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
}
.creations__container__vr:hover h1 {
  color: var(--black);
}
.creations__container__borealis {
  background-image: url("images/desktop/image-pocket-borealis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23%;
  height: 500px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
}
.creations__container__borealis:hover h1 {
  color: var(--black);
}
.creations__container__curiosity {
  background-image: url("images/desktop/image-curiosity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23%;
  height: 500px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
}
.creations__container__curiosity:hover h1 {
  color: var(--black);
}
.creations__container__fisheye {
  background-image: url("images/desktop/image-fisheye.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 23%;
  height: 500px;
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
}
.creations__container__fisheye:hover h1 {
  color: var(--black);
}

.footer {
  background-color: var(--black);
  padding: 3rem 10rem;
  display: flex;
  justify-content: space-between;
}
.footer__links__logo {
  margin-bottom: 1.5rem;
  height: 25px;
}
.footer__links__menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.footer__links__menu a {
  text-decoration: none;
}
.footer__links__menu__link {
  color: var(--white);
  margin-right: 2rem;
  font-family: "Alata", sans-serif;
  position: relative;
}
.footer__links__menu__link::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 0px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--white);
}
.footer__links__menu__link:hover::after {
  height: 2px;
}
.footer__copyright {
  text-align: right;
}
.footer__copyright__text {
  color: var(--darkgray);
  margin-top: 1rem;
  font-family: "Alata", sans-serif;
}
.footer__copyright__icon {
  cursor: pointer;
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.footer__copyright__icon:hover {
  border-bottom: 2px solid var(--white);
}

.copyright {
  background-color: var(--black);
  text-align: center;
  color: var(--white);
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem;
  font-size: 14px;
}
.copyright a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
